<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2018-02-09T11:36:19Z</date>
	<key>WorkspacePath</key>
	<string>/Users/konstafer/ITMO-FILES/Course 3/Interfaces/InterfacesLab6/SwiftRadio.xcodeproj</string>
</dict>
</plist>
